* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.linkStyle2 {
  color: white
}

.container {
  padding: 0 1rem;
}

.btn {
  width:200px; 
  border: none;
  background: #555;
  color: #fff;
  margin: 4px;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #888;
}

.std-input {
  width: 200px;
}

.startPage {
  margin: 10px 0 10px 0;
}

p {
  font-style: italic;
}

.MainHeaders{
  color: gray;
}